body {
	font-family: Arial;
	margin-left: 5%;
	margin-right: 5%;
}

pre {
	margin-left: 2%;
	margin-right: 2%;
	padding: 10px;
	background: #ffc;
	border: 1px dashed blue;
}

code {
	background: #ffc;
}
